<footer class="footer">
  <div class="footer_inner wrap pale">
    <!-- <span class="icon icon_2 transparent"></span> -->
    <!-- <img src='{{ absURL "icons/apple-touch-icon.png" }}' class="icon icon_2 transparent"> -->
    <span class="icon icon_2 transparent" style="font-size: 170%; color:#999;">&#x1F60A;</span>
    <span>{{ i18n "copyright" }} &copy;&nbsp;<span class="year">{{ now.Format "2006"}}</span>&nbsp;{{ .Site.Title | upper }}. {{ i18n "all_rights" }}</span>
    {{- partial "top" .}}
  </div>
</footer>